<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View morning forecast</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/styles/common.css">
    <link rel="stylesheet" href="/styles/pages/view.css">
</head>
<body>
<table>
    <thead>
    <tr>
        <td>Maximal temperature</td>
        <td>Average temperature</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${max}"></td>
        <td th:text="${average}"></td>
    </tr>
    </tbody>
</table>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</html>